.about {
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);

  .inner {
    .me {
      display: flex;
      justify-content: center;

      padding: 160px 0;

      .content {
        position: relative;

        border-radius: 14px;
        background: #2c2c2c;

        width: 496px;
        height: 822px;

        .title {
          position: absolute;
          top: -75px;
          left: 63px;

          font-size: 48px;
          font-weight: 400;
          font-family: "NEXT ART";

          margin-bottom: 50px;
        }

        .text {
          padding: 63px;

          font-size: 20px;
          font-weight: 200;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
