.about {
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);

  .inner {
    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 35px;

      padding-top: 115px;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 15px;

        border-radius: 6px;
        background: #2a2a2a;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);

        width: 200px;
        height: 200px;

        img {
          margin-bottom: 33px;

          width: auto;
          max-height: 50px;
        }

        span {
          &.icon {
            display: block;

            margin-bottom: 33px;

            font-size: 36px;
            font-weight: 700;

            color: #00c4f0;
          }

          &.text {
            text-align: center;

            font-size: 14px;
            font-weight: 700;
            font-family: "NEXT ART";
          }
        }
      }
    }

    .me {
      display: flex;
      justify-content: center;

      padding: 160px 0;

      .content {
        position: relative;

        border-radius: 14px;
        background: #2c2c2c;

        width: 496px;
        height: 822px;

        .title {
          position: absolute;
          top: -75px;
          left: 63px;

          font-size: 48px;
          font-weight: 400;
          font-family: "NEXT ART";

          margin-bottom: 50px;
        }

        .text {
          padding: 63px;

          font-size: 20px;
          font-weight: 200;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
