@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kelly+Slab&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NextArt/NEXTART.woff2") format("woff2"), url("../fonts/NextArt/NEXTART.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NextArt/NEXTART-SemiBold.woff2") format("woff2"), url("../fonts/NextArt/NEXTART-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NextArt/NEXTART-Light.woff2") format("woff2"), url("../fonts/NextArt/NEXTART-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NextArt/NEXTART-Heavy.woff2") format("woff2"), url("../fonts/NextArt/NEXTART-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NextArt/NEXTART-Bold.woff2") format("woff2"), url("../fonts/NextArt/NEXTART-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  color: #e4e4e4;
  background: linear-gradient(102deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #1a1919;
  padding: 14px 38px;
  border-radius: 6px;
  background: linear-gradient(87deg, #e2a300 4.47%, #e29500 95.53%);
  box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
  text-decoration: none;
  font-family: "NEXT ART";
  font-weight: 900;
  transition: all 0.1s ease-in;
}
.button:hover {
  color: #e4e4e4;
  box-shadow: 0px 2px 13px 0px rgb(226, 158, 0);
  transform: scale(1.05);
}

.splide__arrow {
  opacity: 0.8;
  background: linear-gradient(87deg, #e2a300 4.47%, #e29500 95.53%);
  width: 50px;
  height: 50px;
}
.splide__arrow > svg {
  fill: none;
  width: 28px;
  height: 28px;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header .inner .logo {
  display: flex;
  align-items: center;
}
.header .inner .logo img {
  width: auto;
  height: 30px;
  margin-right: 10px;
}
.header .inner .logo span {
  font-size: 32px;
  font-family: "Kaushan Script", cursive;
}
.header .inner .navigation a {
  position: relative;
  color: inherit;
  text-decoration: none;
  margin-left: 50px;
}
.header .inner .navigation a:first-child {
  margin-left: 0;
}
.header .inner .navigation a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1.25px;
  background: linear-gradient(87deg, #e2a300 4.47%, #e29500 95.53%);
  box-shadow: 0px 2px 13px 0px rgb(226, 158, 0);
}

.footer {
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);
}
.footer .inner {
  font-size: 16px;
  padding: 20px 50px;
}
.footer .inner .contacts {
  display: flex;
  justify-content: space-between;
}
.footer .inner .contacts a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.footer .inner .contacts a ion-icon {
  margin-right: 10px;
}
.footer .inner .contacts a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .footer .inner .contacts {
    flex-direction: column;
  }
  .footer .inner .contacts a {
    margin-bottom: 10px;
  }
}

.main .home .inner {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}
.main .home .inner .left,
.main .home .inner .right {
  width: 50%;
}
.main .home .inner .left {
  padding-right: 75px;
  padding-bottom: 150px;
}
.main .home .inner .left .hello,
.main .home .inner .left .name {
  font-family: "NEXT ART";
}
.main .home .inner .left .hello {
  font-size: 48px;
  font-weight: 600;
}
.main .home .inner .left .name {
  font-size: 72px;
  font-weight: 700;
  margin: 10px 0 27px 0;
}
.main .home .inner .left .description {
  margin-bottom: 27px;
  padding-right: 50px;
}
.main .home .inner .right {
  position: relative;
}
.main .home .inner .right .circle {
  position: relative;
  width: 575px;
  height: 575px;
  border-radius: 575px;
  border: 67px solid var(--blu, #00c4f0);
  box-shadow: 0px 0px 152px 0px rgba(0, 196, 240, 0.42);
}
.main .home .inner .right .circle > .skill-circle {
  position: relative;
  z-index: 1;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);
}
.main .home .inner .right .circle > .skill-circle:nth-child(1) {
  top: -45px;
  left: -11px;
}
.main .home .inner .right .circle > .skill-circle:nth-child(2) {
  top: 51px;
  left: -110px;
}
.main .home .inner .right .circle > .skill-circle:nth-child(3) {
  top: 171px;
  left: -51px;
}
.main .home .inner .right .circle > .skill-circle:nth-child(4) {
  top: -322.9px;
  left: 353px;
}
.main .home .inner .right .circle > .skill-circle span {
  color: #00c4f0;
  font-family: "NEXT ART";
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main .home .inner .right .me {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 620px;
  height: auto;
  filter: brightness(1.2);
}
.main .home .inner .right .smail {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 10px;
  width: 390px;
  height: auto;
  transform: translate(-50%, -50%) translate(-28px, 25px) rotateZ(351deg);
}
@media (max-width: 1200px) {
  .main .home .inner .left,
  .main .home .inner .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .main .home .inner .left {
    padding-left: 75px;
  }
  .main .home .inner .left .name {
    text-align: center;
  }
}
.main .about {
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);
}
.main .about .inner .me {
  display: flex;
  justify-content: center;
  padding: 160px 0;
}
.main .about .inner .me .content {
  position: relative;
  border-radius: 14px;
  background: #2c2c2c;
  width: 496px;
  height: 822px;
}
.main .about .inner .me .content .title {
  position: absolute;
  top: -75px;
  left: 63px;
  font-size: 48px;
  font-weight: 400;
  font-family: "NEXT ART";
  margin-bottom: 50px;
}
.main .about .inner .me .content .text {
  padding: 63px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.2px;
}
.main .portfolio .inner {
  padding: 80px 0 130px 0;
}
.main .portfolio .inner > .title {
  font-size: 48px;
  font-weight: 400;
  font-family: "NEXT ART";
  margin-bottom: 50px;
  text-align: center;
}
.main .portfolio .inner .splide__slide.is-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .portfolio .inner .portfolio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 970px;
  height: 600px;
  border-radius: 29px;
  background: linear-gradient(131deg, #414141 0%, #2d2d2d 100.52%);
  box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
}
.main .portfolio .inner .portfolio-item img {
  width: 500px;
  height: 500px;
  border-radius: 29px;
  margin-right: 80px;
}